@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Código de acceso aleatorio nº @ViewBag.AccessCodeCount</h1>
    <div class="border">
        <div>@ViewBag.AccessCode</div>
    </div>
    <div class="mt-4">
        <form action="/generateAccessCode" method="GET">
        <button type="submit" class="btn btn-primary">Generar

        </button>
    </form>
    </div>
    
</div>
